#!/bin/bash
# manter sem os espaço entre o igual e o valor
SOF_API_TOKEN='95613eca-5c32-3360-b57a-4e737ac19246' #free token ;)
#sem o método, apenas o host
SOF_API_HOST='gateway.apilib.prefeitura.sp.gov.br/sf/sof/'
SOF_API_VERSION='v4'
PORT=80
