# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
TZ=UTC
DATABASE_URL="postgresql://postgres:trust@localhost:5432/smae_dev?schema=public"


# segredo para sessions (logins)
SESSION_JWT_SECRET=1234

MAX_QTDE_SENHA_INVALIDA_PARA_BLOCK=3

URL_LOGIN_SMAE=https://path-to-smae.com/login
# HOSTNAME externo (ou seja, sem https/http, apenas o host)
API_HOST_NAME=smae.localhost

CPF_OBRIGATORIO_SEM_RF=1
MATCH_EMAIL_RF_OBRIGATORIO=prefeitura.sp.gov.br

# requests em paralelo para a api do sof para fazer o sync da dotacao
DOTACAO_SOF_SIMULTANEIDADE=16

# PRISMA_FIELD_ENCRYPTION_KEY == CLOAK_MASTER_KEY
# não é o valor do CLOAK_KEYCHAIN
PRISMA_FIELD_ENCRYPTION_KEY=k1.aesgcm256.MPBhYm__Oq37S3kzmQeh0kRuKrF0WRveaQ_aSMbhQbE=

# caso precise rotacionar, a chave para os valores antigos separados por virgula
PRISMA_FIELD_DECRYPTION_KEYS=

LOG_REQ_ON_DB=true
LOG_DB_SKIP_URL_LIST=/api/ping,/api/endpoint1,/api/endpoint2
GEO_API_PREFIX="http://smae_geoloc:80/"
GEOJSON_SECRET=secret-para-endpoint-gerador-geojson

SEI_HOST=https://treinamentosei4.prefeitura.sp.gov.br/sei
SEI_ENDPOINT_WSDL=controlador_ws.php?servico=sei
SEI_SIGLA_SISTEMA=SIGLA
SEI_API_TOKEN=random-bytes-letters
TRANSFEREGOV_API_PREFIX=http://localhost:3030

TRANSFEREGOV_API_TRANSFERENCIAS_PREFIX=http://smae_transferegov_transferencias:80/
TRANSFEREGOV_API_ESPECIAIS_PREFIX=http://smae_transferegov_especiais:80/
